<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Add Book</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css2/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <h2 >Update Book</h2>
        <form action="/books/edit" th:object="${bookDto}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="numberOfAvailableUnits" class="form-label">Number of Available Units</label>
                <input type="number" class="form-control" id="numberOfAvailableUnits" th:field="*{numberOfAvailableUnits}" required>
                <div th:if="${#fields.hasErrors('numberOfAvailableUnits')}" th:errors="*{numberOfAvailableUnits}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" required>
                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="edition" class="form-label">Edition</label>
                <input type="text" class="form-control" id="edition" th:field="*{edition}" required>
                <div th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="coverUrl" class="form-label">Cover URL</label>
                <input type="text" class="form-control" id="coverUrl" th:field="*{coverUrl}" required>
                <div th:if="${#fields.hasErrors('coverUrl')}" th:errors="*{coverUrl}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="bookStatus" class="form-label">Book Status</label>
                <select class="form-select" id="bookStatus" th:field="*{bookStatus}" required>
                    <option value="INSTOCK">IN STOCK</option>
                    <option value="FEWNUMBERLEFT">FEW NUMBER LEFT</option>
                    <!-- Add more options if needed -->
                </select>
                <div th:if="${#fields.hasErrors('bookStatus')}" th:errors="*{bookStatus}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <select class="form-select" id="categoryName" th:field="*{categoryName}" required>
                    <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger"></div>
            </div>
            <!-- Add more fields as needed -->

            <button type="submit" class="btn btn-primary">Update Book</button>
        </form>
    </div>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js2/scripts.js"></script>
</body>
</html>
